.container {
  width: 100vw;
  height: 100vh;
  min-width: 800px;
  min-height: 480px;
  display: grid;
  grid-template-columns: auto 300px;
  grid-template-rows: auto;
  grid-template-areas: "map info";
  user-select: none;
  position: relative;
}

.dark .container {
  background-color: #3a3938;
}

.light .container {
  background-color: #f7f7f7;
}

.weather-map {
  grid-area: map;
  width: 100%;
  height: 100%;
}

.info-container {
  grid-area: info;
}

.dark .info-container {
  border-left: 1px solid #484848;
}

.light .info-container {
  border-left: 1px solid #dadada;
}

.settings-container {
  position: fixed;
  z-index: 5000;
}

.hide-mouse{
  cursor: none !important;
}